<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ModuloAlmacen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ModuloAlmacen.Properties.Settings.DBALMACENConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DataSets\DBALMACEN.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="ModuloAlmacen.Properties.Settings.SIGAConnectionString"
            connectionString="Data Source=192.168.1.100;Initial Catalog=SIGA;Persist Security Info=True;User ID=sa;Password=Semo123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><userSettings>
        <ModuloAlmacen.Properties.Settings>
            <setting name="SIGA_servidor" serializeAs="String">
                <value>Servidor ejem 192.168.1.100</value>
            </setting>
            <setting name="SIGA_database" serializeAs="String">
                <value>BaseDatosSmp</value>
            </setting>
            <setting name="SIGA_user" serializeAs="String">
                <value>user_smp</value>
            </setting>
            <setting name="SIGA_passwd" serializeAs="String">
                <value>Password</value>
            </setting>
            <setting name="ProyectoSiaf" serializeAs="String">
                <value />
            </setting>
            <setting name="AnioAlmacen" serializeAs="String">
                <value />
            </setting>
            <setting name="NombrePi" serializeAs="String">
                <value />
            </setting>
            <setting name="DireccionPi" serializeAs="String">
                <value />
            </setting>
            <setting name="CodigoUnicoPi" serializeAs="String">
                <value />
            </setting>
            <setting name="IdAlmacen" serializeAs="String">
                <value />
            </setting>
        </ModuloAlmacen.Properties.Settings>
    </userSettings>
</configuration>
